<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Definição dos padrões de saída do log -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n"/>

    <!-- Configurações do appender para o arquivo de log -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <append>true</append>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Definição do logger específico -->
    <logger name="br.com.omnilink.challange" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Configuração do logger do console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
