<!--<configuration>-->

<!--    &lt;!&ndash; Defina o padrão de formatação do log &ndash;&gt;-->
<!--    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>-->

<!--    &lt;!&ndash; Configure a saída do log para um arquivo &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--        <file>logs/app.log</file> &lt;!&ndash; Defina o local do arquivo de log &ndash;&gt;-->
<!--        <encoder>-->
<!--            <pattern>${LOG_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Configure o nível de log para INFO (ou o nível desejado) &ndash;&gt;-->
<!--    <root level="INFO">-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </root>-->

<!--    &lt;!&ndash; Configure o logger para incluir apenas os logs específicos &ndash;&gt;-->
<!--    <logger name="br.com.omnilink.desafio" level="INFO" additivity="false">-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </logger>-->

<!--    &lt;!&ndash; Desative o logging para o root logger &ndash;&gt;-->
<!--    <root level="OFF">-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </root>-->

<!--</configuration>-->
